.container {
  width: 90vw;
  border: 1px solid;
  margin: 30px auto;
  border-radius: 4px;
}

.imgContainer {
  display: flex;
  flex-wrap: wrap;
  background-color: cornsilk;
}

.noData {
  margin: 20px auto;
}
